openapi: 3.2.0
info:
  title: Emotive Open Opt Outs API
  version: v1
  description: 'The public Emotive Open API for eCommerce integrations: order tracking, manual opt-outs, and custom events. Emotive documents these endpoints in prose on its knowledge base and Lists developer reference but publishes no machine-readable specification for them. This document was GENERATED by API Evangelist strictly from the request/response examples, header rules, body-parameter tables and HTTP status-code tables Emotive publishes on the pages listed in x-origin. No field, endpoint, or status code appears here that Emotive does not publish. Fields that Emotive documents only inside screenshots (the full Orders request/response parameter tables) are represented from the published cURL/Python payload example rather than from the images.'
  contact:
    name: Emotive Support
    email: support@emotive.io
    url: https://help.emotive.io/
  x-origin:
  - url: https://help.emotive.io/docs/integrations/open-api-integration-orders
    format: documentation
    method: generated
    retrieved: '2026-08-13'
    note: Orders endpoint, Authorization scheme, required body parameters, full payload example, HTTP status-code tables.
  - url: https://help.emotive.io/docs/integrations/custom-site-api
    format: documentation
    method: generated
    retrieved: '2026-08-13'
    note: Authentication, content types, HTTP response-code conventions and the Orders API base URL.
  - url: https://emotive.gitbook.io/emotive-lists/reference/api-reference/unsubscribe
    format: documentation
    method: generated
    retrieved: '2026-08-13'
    note: Manual opt-out endpoint, headers, body and 200/400 response bodies.
  - url: https://emotive.gitbook.io/emotive-lists/reference/api-reference/custom-events
    format: documentation
    method: generated
    retrieved: '2026-08-13'
    note: Custom events endpoint, body parameter table and 200/401 response bodies.
servers:
- url: https://api.emotiveapp.co
  description: Emotive Open API (all three documented paths answer here; the apex host emotiveapp.co answers identically)
- url: https://emotiveapp.co
  description: Apex host named by the Lists developer reference for the opt-out and custom-event paths
security:
- TokenAuth: []
tags:
- name: Opt-Outs
  description: Manual unsubscribe of a phone number.
paths:
  /ecommerce/v1/opt_outs/manual_opt_out/:
    post:
      tags:
      - Opt-Outs
      operationId: manualOptOut
      summary: Unsubscribe a phone number
      description: Opt a subscriber out of SMS by phone number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - phone_number
              properties:
                phone_number:
                  type: string
                  description: E164 formatted subscriber phone number.
                  example: '+14132737194'
      responses:
        '200':
          description: Opt out request processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Opt out request processed.
        '400':
          description: Invalid phone number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Invalid phone number.
components:
  schemas:
    Message:
      type: object
      properties:
        message:
          type: string
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Encoded token authorization over HTTPS. The header value is the word "Token", a space, then the API key Emotive provides. Example: `Authorization: Token <api_token>`. Tokens are unique to an Emotive brand user; contact support@emotive.io or create a List Growth API signup flow to obtain one.'
