openapi: 3.2.0
info:
  license:
    name: Private
  title: Emotive Auth Server Zapier Me API
  version: 0.1.0
  x-origin:
  - url: https://api-gw.emotiveapp.co/auth/openapi.json
    format: openapi
    version: 3.0.2
    method: searched
    retrieved: '2026-08-13'
    note: 'Fetched verbatim from the Emotive API gateway. Original servers[] was relative ([{"url": "/auth"}]); resolved to the absolute gateway base for portability. Verbatim copy retained at openapi/_original/emotive-auth-openapi.json.'
servers:
- url: https://api-gw.emotiveapp.co/auth
  description: Emotive API gateway — auth service
tags:
- name: Zapier Me API
paths:
  /v1/zapier/me:
    post:
      operationId: controllers.auth.zapier_me
      requestBody:
        content:
          application/json:
            schema:
              properties:
                helpdesk_api_key:
                  description: Emotive Helpdesk API Key
                  type: string
                orders_api_key:
                  description: Emotive Orders API Key
                  type: string
        required: true
        x-body-name: body
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Connection OK.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Authentication Failed
      summary: Authenticate Emotive Zapier App Api Key by calling Sensus/Helpdesk.
      tags:
      - Zapier Me API
components:
  schemas:
    JsonResponse:
      properties:
        message:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
      x-apikeyInfoFunc: core.api_security.api_key
