openapi: 3.2.0
info:
  license:
    name: Private
  title: Experiences Experience API
  version: 0.1.0
  x-origin:
  - url: https://api-gw.emotiveapp.co/experiences/openapi.json
    format: openapi
    version: 3.0.2
    method: searched
    retrieved: '2026-08-13'
    note: 'Fetched verbatim from the Emotive API gateway. Original servers[] was relative ([{"url": "/experiences"}]); resolved to the absolute gateway base for portability. Verbatim copy retained at openapi/_original/emotive-experiences-openapi.json.'
servers:
- url: https://api-gw.emotiveapp.co/experiences
  description: Emotive API gateway — experiences service
tags:
- name: Experience
paths:
  /api/v1.0/experience/{unique_id}/analytics:
    get:
      description: Get detailed campaign analytics from Palantir
      operationId: app.routes.get_campaign_analytics
      parameters:
      - description: Campaign unique_id we collect analytics for
        in: path
        name: unique_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dictionary with analytics details
      summary: Collect campaign analytics
      tags:
      - Experience
  /api/v1.0/experience/{unique_id}/steps/{step_id}/analytics:
    get:
      description: Get detailed campaign analytics from Palantir for step
      operationId: app.routes.get_campaign_step_analytics
      parameters:
      - description: Campaign unique_id we collect analytics for
        in: path
        name: unique_id
        required: true
        schema:
          type: string
      - description: Campaign flow step_id we collect analytics for
        in: path
        name: step_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dictionary with analytics details
      summary: Collect campaign step analytics
      tags:
      - Experience
