openapi: 3.2.0
info:
  license:
    name: Private
  title: Emotive Auth Server Password API
  version: 0.1.0
  x-origin:
  - url: https://api-gw.emotiveapp.co/auth/openapi.json
    format: openapi
    version: 3.0.2
    method: searched
    retrieved: '2026-08-13'
    note: 'Fetched verbatim from the Emotive API gateway. Original servers[] was relative ([{"url": "/auth"}]); resolved to the absolute gateway base for portability. Verbatim copy retained at openapi/_original/emotive-auth-openapi.json.'
servers:
- url: https://api-gw.emotiveapp.co/auth
  description: Emotive API gateway — auth service
tags:
- name: Password
paths:
  /v1/password/change:
    get:
      operationId: controllers.auth_v2.check_password_reset_token
      parameters:
      - description: Password reset token
        in: query
        name: token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Valid Token
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Invalid Token
      summary: Check Password Reset Token Validity
      tags:
      - Password
    post:
      operationId: controllers.auth_v2.password_change
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmotivePasswordResetPayload'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Password change Succeeded
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Bad Request (includes weak password, existing password chosen as new password, token already used or expired)
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Token does not exist
      summary: Password change for Emotive
      tags:
      - Password
  /v1/password/reset:
    post:
      operationId: controllers.auth_v2.password_reset_request
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  description: email of the user for Emotive
                  format: email
                  type: string
              required:
              - email
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Password reset email sent, if valid
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Invalid email provided
      summary: Password reset for Emotive
      tags:
      - Password
components:
  schemas:
    EmotivePasswordResetPayload:
      properties:
        password:
          description: new password of the user for Emotive
          maxLength: 100
          minLength: 3
          type: string
        token:
          description: unique token generated for password reset
          type: string
      required:
      - token
      - password
      type: object
    JsonResponse:
      properties:
        message:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
      x-apikeyInfoFunc: core.api_security.api_key
