openapi: 3.2.0
info:
  license:
    name: Private
  title: Emotive Auth Server Token API
  version: 0.1.0
  x-origin:
  - url: https://api-gw.emotiveapp.co/auth/openapi.json
    format: openapi
    version: 3.0.2
    method: searched
    retrieved: '2026-08-13'
    note: 'Fetched verbatim from the Emotive API gateway. Original servers[] was relative ([{"url": "/auth"}]); resolved to the absolute gateway base for portability. Verbatim copy retained at openapi/_original/emotive-auth-openapi.json.'
servers:
- url: https://api-gw.emotiveapp.co/auth
  description: Emotive API gateway — auth service
tags:
- name: Token
paths:
  /v1/token:
    post:
      operationId: controllers.resource.create_brand_token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                brand_id:
                  description: id of Brand.
                  example: 1
                  minimum: 1
                  type: integer
              required:
              - brand_id
              type: object
      responses:
        '302':
          description: Emotive page based on next param or same page with error information.
          headers:
            Location:
              description: Emotive page based on next param or same page with error information.
              schema:
                format: uri
                type: string
      summary: Generates JWT that switches user's brand, routes to sensus considering next arg
      tags:
      - Token
components:
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
      x-apikeyInfoFunc: core.api_security.api_key
