openapi: 3.2.0
info:
  license:
    name: Private
  title: Sensus Webhooks Subscriber API
  version: 0.1.0
  x-origin:
  - url: https://api-gw.emotiveapp.co/sensus-webhook/openapi.json
    format: openapi
    version: 3.0.2
    method: searched
    retrieved: '2026-08-13'
    note: 'Fetched verbatim from the Emotive API gateway. Original servers[] was relative ([{"url": "/sensus-webhook"}]); resolved to the absolute gateway base for portability. Verbatim copy retained at openapi/_original/emotive-sensus-webhook-openapi.json.'
servers:
- url: https://api-gw.emotiveapp.co/sensus-webhook
  description: Emotive API gateway — sensus-webhook service
tags:
- name: Subscriber
paths:
  /v1/subscriber:
    post:
      description: Create a subscriber.
      operationId: controllers.webhooks.subscriber_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
        required: true
        x-body-name: body
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Webhook Accepted.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonResponse'
          description: Bad Request
      tags:
      - Subscriber
components:
  schemas:
    Subscriber:
      anyOf:
      - required:
        - phone_number
        - subscribe_identifier
      - required:
        - email
        - subscribe_identifier
      properties:
        birthdate:
          type: string
        context:
          additionalProperties:
            oneOf:
            - type: string
            - type: number
            - type: integer
            - type: boolean
          type: object
        email:
          type: string
        external_identifiers:
          $ref: '#/components/schemas/ExternalIdentifier'
        first_name:
          type: string
        last_name:
          type: string
        phone_number:
          type: string
        platform:
          enum:
          - alloy
          - emotive
          - privy
          type: string
        popup_identifier:
          type: string
        properties:
          $ref: '#/components/schemas/PropertyList'
        source_type:
          enum:
          - EMOTIVE_POPUP
          - EMOTIVE_EMBEDDED
          - BACK_IN_STOCK_POPUP
          - LIST_GROWTH
          type: string
        subscribe_identifier:
          type: string
        subsource_identifier:
          type: string
      type: object
    PropertyList:
      items:
        $ref: '#/components/schemas/Property'
      type: array
    JsonResponse:
      properties:
        message:
          type: string
      type: object
    Property:
      properties:
        key:
          type: string
        type:
          enum:
          - string
          - number
          - boolean
          - datetime
          type: string
        value:
          anyOf:
          - type: string
          - type: number
          - type: integer
          - type: boolean
      required:
      - key
      - value
      type: object
    ExternalIdentifier:
      properties:
        custom:
          items:
            properties:
              name:
                type: string
              value:
                type: string
            type: object
          type: array
        klaviyo:
          type: string
        shopify:
          type: string
      type: object
